.linkTitleDesk__link {
  transition: .3s;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: .5em;
  padding: .2em;
}

.linkTitleDesk__link:hover {
  color: var(--color-deepPurple500);
}

.inActiveDesk {
  color: var(--color-grey500);
}

.activeDesk {
  color: var(--color-deepPurple500);
}
